body{
    /*overflow-y: hidden;*/
}

.upper{
  margin-top: 50px;
  width: 100%;
  height: 70px;
  padding-top:10px;
  text-align: center;
  border-bottom: 1px solid #bcbcbc;
}

.lower{
  width: 100%;
  height: auto;
}

.block{
  width: 70%;
  height: auto;
  border: 1px solid #FF8800;
  border-radius: 5px;
  background: #FFBB66;
  margin: auto;
  margin-top: 20px;
  padding-left: 10px;
}

.block>li{
  list-style: none;
  text-align: left;
  font-size: 18px;
  line-height: 25px;
  height: 25px;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
  font-style: italic;
  border: 1px solid #77FF00;
  border-radius: 5px;
  background: #BBFF66;
}

.left{
    width:30%;
    height: 100%;
    padding: 5% 10px 0px 10px;
    float: left;
}

.search{
  margin-top: 5px;
  height: auto;

}

.right{
    width: 70%;
    height: 100%;
    padding: 5% 10% 0px 10%;
    float: left;
}

.right{
    margin: auto;
}

.right>tr>td{
    height: 30px;
    line-height: 30px;
}

.detail{
    width: 100%;
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #ababab;
    border-radius: 0px;
    margin-top: 10px;
}

.detail>li{
    width: 100%;
    height:50px;
    line-height: 50px;
    list-style: none;
    padding-left: 5px;
    font-size: 20px;
    background: #ffffff;
    cursor: pointer;
}

.detail>li:hover{
    background: #e7e7e7;
}

.explain{
    border: 1px solid #cfcfcf;
    background: #cfcfcf;
    position: absolute;
    display: none;
    width: 200px;
    height: auto;
    line-height: 20px;
    font-size: 16px;
}

.showTime{
    border: 1px solid #cfcfcf;
    background: #cfcfcf;
    position: absolute;
    display: none;
    width: 100px;
    height: auto;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
}

input[type=radio]{
  line-height: 36px;
}

.Search-button {
position: relative;
vertical-align: top;
width: 30%;
height: 40px;
padding: 0;
font-size: 22px;
color: white;
text-align: center;
text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
background: #3498db;
border: 0;
border-bottom: 2px solid #2a8bcc;
cursor: pointer;
-webkit-box-shadow: inset 0 -2px #2a8bcc;
box-shadow: inset 0 -2px #2a8bcc;
float: right;
}
.Search-button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.responstable {
  margin: 1em 0;
  width: 100%;
  overflow: hidden;
  background: #FFF;
  color: #024457;
  border-radius: 0px;
  border: 2px solid #167F92;
}
.responstable tr {
  border: 1px solid #D9E4E6;
}
.responstable tr:nth-child(odd) {
  background-color: #EAF3F3;
}
.responstable th {
  display: none;
  border: 1px solid #FFF;
  background-color: #167F92;
  color: #FFF;
  padding: 1em;
}
.responstable th:first-child {
  display: table-cell;
  text-align: center;
}
.responstable th:nth-child(2) {
  display: table-cell;
}
.responstable th:nth-child(2) span {
  display: none;
}
.responstable th:nth-child(2):after {
  content: attr(data-th);
}
@media (min-width: 480px) {
  .responstable th:nth-child(2) span {
    display: block;
  }
  .responstable th:nth-child(2):after {
    display: none;
  }
}
.responstable td {
  display: block;
  word-wrap: break-word;
  max-width: 7em;
}
.responstable td:first-child {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #D9E4E6;
}
@media (min-width: 480px) {
  .responstable td {
    border: 1px solid #D9E4E6;
  }
}
.responstable th, .responstable td {
  text-align: left;
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .responstable th, .responstable td {
    display: table-cell;
    padding: 1em;
  }
}

body {
  padding: 0 2em;
  font-family: Arial, sans-serif;
  color: #024457;
  background: #f2f2f2;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  color: #024457;
}
h1 span {
  color: #167F92;
}

nav{
  position: absolute;
  left: 0px;
  top: 0px;
}

.lightbox{
  width: 100%;
  height: 100%;
  background: #dfdfdf;
  opacity: 0.7;
  position: absolute;
  z-index: 999;
  left: 0px;
  top: 0px;
  display: none;
}

.frame{
  display: none;
  color: #ffffff;
  font-family: "Consolas";
  background: #23D5D7;
  width: 20%;
  margin-left: 35%;
  margin-top: 250px;
  padding: 10px;
  position: absolute;
  z-index: 1000;
  opacity: 1 !important;
}
.btn-default{
  border: 0px;
  border-radius: 0px;
}