<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="static/bootstrap.css">
        <link rel="stylesheet" href="static/bootstrap-theme.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="static/bootstrap.js"></script>
    </head>
    <style>
        body{
            /*overflow-y: hidden;*/
        }
        .left{
            width:30%;
            height: 100%;
            padding: 5% 10px 0px 10px;
            float: left;
        }
        .right{
            width: 70%;
            height: 100%;
            padding: 5% 10% 0px 10%;
            float: left;
        }

        .right>table{
            margin: auto;
        }

        .right>table>tr>td{
            height: 30px;
            line-height: 30px;
        }

        .detail{
            width: 100%;
            height: 250px;
            overflow-x: hidden;
            overflow-y: auto;
            border: 1px solid #ababab;
            border-radius: 5px;
            margin-top: 10px;
        }

        .detail>li{
            width: 100%;
            height:50px;
            line-height: 50px;
            list-style: none;
            padding-left: 5px;
            font-size: 20px;
            background: #ffffff;
            cursor: pointer;
        }

        .detail>li:hover{
            background: #e7e7e7;
        }

        .explain{
            border: 1px solid #000;
            border-radius: 5px;
            position: absolute;
            display: none;
            width: 200px;
            height: auto;
            line-height: 20px;
            font-size: 16px;
        }
    </style>
    <body>
        <div class="explain">Testing</div>
        <div class="left">
            <select name="unit" id="unit" class="form-control">
                <option value="%" selected="">所有科系</option>
                <option value="AE00">進修推廣處</option>
                <option value="UC01">商務經營研究所</option>
                <option value="UC02">會計系</option>
                <option value="UC06">金融系</option>
                <option value="UC07">財政稅務系</option>
                <option value="UC11">國際企業系</option>
                <option value="UC42">金融資訊研究所</option>
                <option value="UC44">金融系金融資訊</option>
                <option value="UC99">管理學院增開班</option>
                <option value="UE05">應用工程科學研究所</option>
                <option value="UE15">資訊工程系</option>
                <option value="UE16">化學工程與材料工程系</option>
                <option value="UE17">化學工程與材料工程系碩士班</option>
                <option value="UE18">電機工程系碩士班</option>
                <option value="UE19">電機工程系博士班</option>
                <option value="UE20">電子工程系碩士班</option>
                <option value="UE23">土木工程系</option>
                <option value="UE25">機械工程系</option>
                <option value="UE27">電機工程系</option>
                <option value="UE29">電子工程系</option>
                <option value="UE31">模具工程系</option>
                <option value="UE33">模具工程系碩士班</option>
                <option value="UE36">機械與精密工程研究所</option>
                <option value="UE37">土木工程與防災科技研究所</option>
                <option value="UE38">電能與控制工程研究所</option>
                <option value="UE39">光電與通訊工程研究所</option>
                <option value="UE40">模具與精密機械產業研碩士專班</option>
                <option value="UE41">精密機械產業研發碩士專班</option>
                <option value="UE42">電子通訊產業研發碩士專班</option>
                <option value="UE43">電力電子產業研發碩士專班</option>
                <option value="UE44">精密模具與機械產研碩士外國專班</option>
                <option value="UE46">軟性電子材料產業研發碩士專班</option>
                <option value="UE47">面板製程系統整合產研碩士專班</option>
                <option value="UE49">機械與精密工程產業研發碩士專班</option>
                <option value="UE50">先進材料精密成型產業研發碩士班</option>
                <option value="UE51">土木防災產業研發碩士專班</option>
                <option value="UE52">半導體製程自動化產業研發碩士班</option>
                <option value="UE53">電子構裝整合技術產業研發碩士班</option>
                <option value="UE54">網通資訊產業研發碩士專班</option>
                <option value="UE55">電子資訊產業研發碩士專班</option>
                <option value="UE56">精緻化學與綠色科技材料產研碩專</option>
                <option value="UE57">電子資訊技術研發設計產研碩專班</option>
                <option value="UE59">國際企業管理與製造產研碩外專班</option>
                <option value="UE60">能源系統控制產業研發碩士專班</option>
                <option value="UE62">高值扣件產業研發碩士專班</option>
                <option value="UE63">模具與自動化技術產業碩士專班</option>
                <option value="UE64">創新科技管理產業碩士專班</option>
                <option value="UE65">資通產品研發與生產碩士外國專班</option>
                <option value="UE66">高值扣件產業碩士專班</option>
                <option value="UE67">製造與管理外國學生碩士專班</option>
                <option value="UE68">土木工程系土木工程科技</option>
                <option value="UE69">土木工程系土木工程與防災科技</option>
                <option value="UE71">工業工程與管理系碩士班</option>
                <option value="UE72">工業工程與管理系</option>
                <option value="UE77">工業工程與創新管理產業碩士專班</option>
                <option value="UE78">模具工程系應用工程科學</option>
                <option value="UE97">模具與生產自動化產業碩士專班</option>
                <option value="UE99">工學院增開班</option>
                <option value="UH00">人文社會學院</option>
                <option value="UH51">應用外語系</option>
                <option value="UH52">文化事業發展系</option>
                <option value="UH53">人力資源發展系</option>
                <option value="UH54">人力資源發展系碩士班</option>
                <option value="UH57">應外系英語專業溝通與教學科技</option>
                <option value="UH58">文化創意產業系</option>
                <option value="UI02">電機自動化產業研發碩士專班</option>
                <option value="UI03">網通軟體產業研發碩士專班</option>
                <option value="UI04">電機控制產業碩士專班</option>
                <option value="UI06">光電半導體技術產業碩士專班</option>
                <option value="UI07">資電與管理外國學生專班</option>
                <option value="UM01">財經與商務決策研究所</option>
                <option value="UM43">觀光與餐旅管理研究所</option>
                <option value="UM44">觀光管理系觀光與餐旅管理</option>
                <option value="UM65">財富與稅務管理系</option>
                <option value="UM72">資訊管理研究所</option>
                <option value="UM73">資訊管理系碩士班</option>
                <option value="UM74">企業管理系</option>
                <option value="UM76">觀光管理系</option>
                <option value="UM78">資訊管理系</option>
                <option value="UM83">國際企業系碩士班</option>
                <option value="UM84">高階經營管理研究所</option>
                <option value="UM85">企業管理系高階經營管理</option>
                <option value="XC00">通識教育中心</option>
                <option value="XK00">跨外校修課生</option>
                <option value="XK01">他校跨本校生</option>
                <option value="XK02">外國交換生</option>
                <option value="XM00">軍訓</option>
                <option value="XP00">體育選項</option>
                <option value="XS01">中心計劃短期班</option>
            </select>
            <br>
            <input type="text" class="form-control" id="keys" placeholder="搜尋課程名稱" value="工程"><br />
            <center>
                <input type='button' value='Search' onclick="search()" class='btn btn-default'>
            </center>
            <div id="show" class="detail">
            </div>
            <div id="remove" class="detail">
            </div>
        </div>
        <div class="right">
            <table class='table'>
                <tr>
                    <td valign="middle" width='150' align='center'>時間</td>
                    <td valign="middle" width='150' align='center'>一</td>
                    <td valign="middle" width='150' align='center'>二</td>
                    <td valign="middle" width='150' align='center'>三</td>
                    <td valign="middle" width='150' align='center'>四</td>
                    <td valign="middle" width='150' align='center'>五</td>
                    <td valign="middle" width='150' align='center'>六</td>
                    <td valign="middle" width='150' align='center'>日</td>
                </tr>
                <tr>
                    <td valign="middle" width='150' align='center'>M</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                </tr>
                <tr>
                    <td valign="middle" width='150' align='center'>第一節</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                </tr>
                <tr>
                    <td valign="middle" width='150' align='center'>第二節</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                </tr>
                <tr>
                    <td valign="middle" width='150' align='center'>第三節</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                </tr>
                <tr>
                    <td valign="middle" width='150' align='center'>第四節</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                </tr>
                <tr>
                    <td valign="middle" width='150' align='center'>第五節</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                </tr>
                <tr>
                    <td valign="middle" width='150' align='center'>第六節</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                </tr>
                <tr>
                    <td valign="middle" width='150' align='center'>第七節</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                </tr>
                <tr>
                    <td valign="middle" width='150' align='center'>第八節</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                </tr>
                <tr>
                    <td valign="middle" width='150' align='center'>第十節</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                </tr>
                <tr>
                    <td valign="middle" width='150' align='center'>第十一節</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                </tr>
                <tr>
                    <td valign="middle" width='150' align='center'>第十二節</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                </tr>
                <tr>
                    <td valign="middle" width='150' align='center'>第十三節</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                </tr>
                <tr>
                    <td valign="middle" width='150' align='center'>第十四節</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                    <td valign="middle" width='150' align='center'>&nbsp;</td>
                </tr>
            </table>
        </div>
    </body>
    <script>
        $(document).ready(function(){
            $.get(
                "/getCourse",
                function(success){
                    var grid = eval(success);
                    html = "<tr><td width='150' align='center'>時間</td><td width='150' align='center'>一</td><td width='150' align='center'>二</td><td width='150' align='center'>三</td><td width='150' align='center'>四</td><td width='150' align='center'>五</td><td width='150' align='center'>六</td><td width='150' align='center'>日</td></tr>"
                    for (var i = 0; i < grid.length; i++) {
                        html += "<tr>"
                        for (var j = 0; j < grid[i].length; j++) {
                            if(grid[i][j] == "<td width='150' align='center'>A</td>" || grid[i][j] == "<td width='150' align='center'>B</td>"){
                                html = html.substring(0, html.length - 4);
                                break;
                            }
                            html += grid[i][j];
                        }
                        html += "</tr>"
                        if(grid[i][j] == "<td width='150' align='center'>A</td>" || grid[i][j] == "<td width='150' align='center'>B</td>"){
                            html = html.substring(0, html.length - 4);
                        }
                    }
                    $(".table").html(html);
                },"JSON")
        });
        $(document).mousemove(function(event){
            $(".explain").css("left", event.pageX+10)
                         .css("top", event.pageY+10);
        });
        $("#show").mouseout(function(event){
            $(".explain").css("display", "none");
        });
        var cols = "零一二三四五六日";
        function search(){
            $("#show>li").remove();
            $.post(
                "/SearchResult",
                {
                    key: $("#keys").val(),
                    unit: $("#unit").val()
                },
                function(success){
                    data = eval(success).data;
                    for (var i = 0; i < data.length; i++) {
                        d = data[i];
                        var li = $("<li>")
                                 .attr("teacher", d.courseTeacher)
                                 .attr("time", d.courseTime)
                                 .attr("message", "上課時間：" + d.Time + "<br>上課地點：" + d.courseRoom)
                                 .click(function(){
                                    var temp = $(this).attr('time').split(",");
                                    result = search_action($(this), 'check');
                                    if(!result){
                                        window.alert('衝堂');
                                        return;
                                    }
                                    search_action($(this), 'fill')
                                    var clone = $(this).clone()
                                    clone.click(function(){
                                        var check = confirm('確定要刪除?');
                                        if(check){
                                            search_action($(this), 'remove');
                                        }
                                        $(this).remove();
                                    });
                                    clone.appendTo("#remove");
                                    $(this).remove();
                                 })
                                 .mouseover(function(){
                                    $(".explain").html($(this).attr('message'));
                                    $(".explain").css("display", "block");
                                 }).text(d.courseName + "--" + d.className);
                        $("#show").append(li);
                    };
                },
                "JSON"
            );
        }

        function search_action(resource, action){
            var temp = resource.attr('time').split(",");
            for (var i = 1; i < temp.length; i+=2) {
                if(cols.indexOf(temp[i])!=-1){
                    var col = cols.indexOf(temp[i]);
                    if(temp[i+1].indexOf("-")!=-1){
                        var row = temp[i+1].split("-");
                        var start = parseInt(row[0])+1;
                        var end = parseInt(row[1])+1;
                    }else{
                        var start = parseInt(temp[i+1])+1;
                        var end = parseInt(temp[i+1])+1;
                    }
                }else{
                    var col = cols.indexOf(temp[i-2]);
                    if(temp[i].indexOf("-")!=-1){
                        var row = temp[i].split("-");
                        var start = parseInt(row[0])+1;
                        var end = parseInt(row[1])+1;
                    }else{
                        var start = parseInt(temp[i+1])+1;
                        var end = parseInt(temp[i+1])+1;
                    }
                }
                var tr = $("tr")
                for(var j = start; j <= end; j++){
                    var td = $(tr[j]).children('td');
                    switch(action){
                        case 'check':
                            if($(td[col]).text().charCodeAt(0) != 160 && $(td[col]).text().length != 0){
                                return false;
                            }
                            break;
                        case 'fill':
                            $(td[col]).text(resource.text());
                            break;
                        case 'remove':
                            $(td[col]).text(String.fromCharCode(160));
                            break;
                    }
                }
            };
            return true;
        }
    </script>
</html>