<html>
    <head>
        <title>模擬選課－選課</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="static/bootstrap.css">
        <link rel="stylesheet" href="static/bootstrap-theme.min.css">
        <link rel="stylesheet" href="static/custom.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="static/bootstrap.js"></script>
        <script src="static/function.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">KUAS.CC</a>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-right: 20%;">
              <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="/Simulation">模擬選課</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <div class="explain"></div>
        <div id="showTime" class="explain showTime"></div>
        <div class="left">
            <select name="unit" id="unit" class="form-control">
                <option value="%" selected="">所有科系</option>
                <option value="AE00">進修推廣處</option>
                <option value="UC01">商務經營研究所</option>
                <option value="UC02">會計系</option>
                <option value="UC06">金融系</option>
                <option value="UC07">財政稅務系</option>
                <option value="UC11">國際企業系</option>
                <option value="UC42">金融資訊研究所</option>
                <option value="UC44">金融系金融資訊</option>
                <option value="UC99">管理學院增開班</option>
                <option value="UE05">應用工程科學研究所</option>
                <option value="UE15">資訊工程系</option>
                <option value="UE16">化學工程與材料工程系</option>
                <option value="UE17">化學工程與材料工程系碩士班</option>
                <option value="UE18">電機工程系碩士班</option>
                <option value="UE19">電機工程系博士班</option>
                <option value="UE20">電子工程系碩士班</option>
                <option value="UE23">土木工程系</option>
                <option value="UE25">機械工程系</option>
                <option value="UE27">電機工程系</option>
                <option value="UE29">電子工程系</option>
                <option value="UE31">模具工程系</option>
                <option value="UE33">模具工程系碩士班</option>
                <option value="UE36">機械與精密工程研究所</option>
                <option value="UE37">土木工程與防災科技研究所</option>
                <option value="UE38">電能與控制工程研究所</option>
                <option value="UE39">光電與通訊工程研究所</option>
                <option value="UE40">模具與精密機械產業研碩士專班</option>
                <option value="UE41">精密機械產業研發碩士專班</option>
                <option value="UE42">電子通訊產業研發碩士專班</option>
                <option value="UE43">電力電子產業研發碩士專班</option>
                <option value="UE44">精密模具與機械產研碩士外國專班</option>
                <option value="UE46">軟性電子材料產業研發碩士專班</option>
                <option value="UE47">面板製程系統整合產研碩士專班</option>
                <option value="UE49">機械與精密工程產業研發碩士專班</option>
                <option value="UE50">先進材料精密成型產業研發碩士班</option>
                <option value="UE51">土木防災產業研發碩士專班</option>
                <option value="UE52">半導體製程自動化產業研發碩士班</option>
                <option value="UE53">電子構裝整合技術產業研發碩士班</option>
                <option value="UE54">網通資訊產業研發碩士專班</option>
                <option value="UE55">電子資訊產業研發碩士專班</option>
                <option value="UE56">精緻化學與綠色科技材料產研碩專</option>
                <option value="UE57">電子資訊技術研發設計產研碩專班</option>
                <option value="UE59">國際企業管理與製造產研碩外專班</option>
                <option value="UE60">能源系統控制產業研發碩士專班</option>
                <option value="UE62">高值扣件產業研發碩士專班</option>
                <option value="UE63">模具與自動化技術產業碩士專班</option>
                <option value="UE64">創新科技管理產業碩士專班</option>
                <option value="UE65">資通產品研發與生產碩士外國專班</option>
                <option value="UE66">高值扣件產業碩士專班</option>
                <option value="UE67">製造與管理外國學生碩士專班</option>
                <option value="UE68">土木工程系土木工程科技</option>
                <option value="UE69">土木工程系土木工程與防災科技</option>
                <option value="UE71">工業工程與管理系碩士班</option>
                <option value="UE72">工業工程與管理系</option>
                <option value="UE77">工業工程與創新管理產業碩士專班</option>
                <option value="UE78">模具工程系應用工程科學</option>
                <option value="UE97">模具與生產自動化產業碩士專班</option>
                <option value="UE99">工學院增開班</option>
                <option value="UH00">人文社會學院</option>
                <option value="UH51">應用外語系</option>
                <option value="UH52">文化事業發展系</option>
                <option value="UH53">人力資源發展系</option>
                <option value="UH54">人力資源發展系碩士班</option>
                <option value="UH57">應外系英語專業溝通與教學科技</option>
                <option value="UH58">文化創意產業系</option>
                <option value="UI02">電機自動化產業研發碩士專班</option>
                <option value="UI03">網通軟體產業研發碩士專班</option>
                <option value="UI04">電機控制產業碩士專班</option>
                <option value="UI06">光電半導體技術產業碩士專班</option>
                <option value="UI07">資電與管理外國學生專班</option>
                <option value="UM01">財經與商務決策研究所</option>
                <option value="UM43">觀光與餐旅管理研究所</option>
                <option value="UM44">觀光管理系觀光與餐旅管理</option>
                <option value="UM65">財富與稅務管理系</option>
                <option value="UM72">資訊管理研究所</option>
                <option value="UM73">資訊管理系碩士班</option>
                <option value="UM74">企業管理系</option>
                <option value="UM76">觀光管理系</option>
                <option value="UM78">資訊管理系</option>
                <option value="UM83">國際企業系碩士班</option>
                <option value="UM84">高階經營管理研究所</option>
                <option value="UM85">企業管理系高階經營管理</option>
                <option value="XC00">通識教育中心</option>
                <option value="XK00">跨外校修課生</option>
                <option value="XK01">他校跨本校生</option>
                <option value="XK02">外國交換生</option>
                <option value="XM00">軍訓</option>
                <option value="XP00">體育選項</option>
                <option value="XS01">中心計劃短期班</option>
            </select>
            <br>
            <input type="text" class="form-control-static col-lg-8" id="keys" placeholder="搜尋課程名稱">
            <input type='button' value='搜尋' onclick="search()" class='btn btn-primary pull-right col-lg-2'><br />
            </br><div id="show" class="detail">
            </div>
            <div id="remove" class="detail">
            </div>

        </div>
        <div class="right">
            <table class='responstable'>
                <tr>
                    <td valign="middle" width='200' align='center'>時間</td>
                    <td valign="middle" width='200' align='center'>一</td>
                    <td valign="middle" width='200' align='center'>二</td>
                    <td valign="middle" width='200' align='center'>三</td>
                    <td valign="middle" width='200' align='center'>四</td>
                    <td valign="middle" width='200' align='center'>五</td>
                    <td valign="middle" width='200' align='center'>六</td>
                    <td valign="middle" width='200' align='center'>日</td>
                </tr>
                <tr>
                    <td valign="middle" width='200' align='center'>M</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                </tr>
                <tr>
                    <td valign="middle" width='200' align='center'>第一節</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                </tr>
                <tr>
                    <td valign="middle" width='200' align='center'>第二節</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                </tr>
                <tr>
                    <td valign="middle" width='200' align='center'>第三節</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                </tr>
                <tr>
                    <td valign="middle" width='200' align='center'>第四節</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                </tr>
                <tr>
                    <td valign="middle" width='200' align='center'>第五節</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                </tr>
                <tr>
                    <td valign="middle" width='200' align='center'>第六節</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                </tr>
                <tr>
                    <td valign="middle" width='200' align='center'>第七節</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                </tr>
                <tr>
                    <td valign="middle" width='200' align='center'>第八節</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                </tr>
                <tr>
                    <td valign="middle" width='200' align='center'>第十節</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                </tr>
                <tr>
                    <td valign="middle" width='200' align='center'>第十一節</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                </tr>
                <tr>
                    <td valign="middle" width='200' align='center'>第十二節</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                </tr>
                <tr>
                    <td valign="middle" width='200' align='center'>第十三節</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                </tr>
                <tr>
                    <td valign="middle" width='200' align='center'>第十四節</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                    <td valign="middle" width='200' align='center'>&nbsp;</td>
                </tr>
            </table>
            <input type='button' value='暫存課表' onclick="save()" class='btn btn-primary' style='margin-right: 10px;'>
            <input type='button' value='載入暫存' onclick="restore()" class='btn btn-primary pull-right' style='margin-right: 10px;'>
        </div>
    </body>
    <script>
        $(document).ready(function(){load_course();});
        $(document).mousemove(function(event){
            $(".explain").css("left", event.pageX+10)
                         .css("top", event.pageY+10);
        });
        $("#show").mouseout(function(event){
            $(".explain").css("display", "none");
        });
    </script>
</html>
